body {
  margin: 0;
  .container {
    padding: 50px 0;
    background-color: #d1d1d1;
    .inner {
      width: 1200px;
      margin: auto;
      .header {
        display: flex;
        justify-content: space-between;
        .menu {
          width: 500px;
          display: flex;
          justify-content: space-between;
          .menu-item {
          }
        }
      }

      .search {
        background-color: white;
        width: 800px;
        display: flex;
        margin: auto;
        justify-content: space-between;
        margin-top: 50px;
        padding: 20px 40px;
        border-radius: 40px;
      }
    }
  }
}
